
{% extends "students/student_base.html" %}
{% load static %}


{% block title %}My Schedule{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'students/css/StudentSchedule.css' %}" />
{% endblock %}

{% block content %}

<table border="1" cellpadding="5">
    <thead>
        <tr>
            <th>Day</th>
            <th>Course</th>
            <th>Start Time</th>
            <th>End Time</th>
        </tr>
    </thead>
    <tbody>
        {% for day, enrollments in schedule_by_day.items %}
            {% for enrollment in enrollments %}
            <tr>
                <td>{{ day }}</td>
                <td>{{ enrollment.course.course_name }}</td>
                <td>{{ enrollment.start_time }}</td>
                <td>{{ enrollment.end_time }}</td>
            </tr>
            {% endfor %}
        {% empty %}
            <tr>
                <td colspan="4">No classes enrolled yet.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
